.page-aside.w-lg
	#jq-panel-info.panel.panel-aside
		.panel-head
			.title.h2.c-dark-grey Как пользоваться разделом
			a.hamburger.hamburger--spin.is-active.jq-togglePanel(href='#', data-action='close')
				span.hamburger-box
					span.hamburger-inner
		.panel-content.pt-xs
			// Контейнер для стилизации скролла
			.baron.baron__root.baron__clipper._simple
				.baron__scroller
					// Your content here
					section.sect.mb-lg
						h3.h3.w-100.mb-xs Купленные карты
						p.text.h6.pre-line В этой секции отоброжаются все заказы, содержащие покупку карт и количество купленных карт
					
					section.sect.mb-lg
						h3.h3.w-100.mb-xs Мои карты
						p.text.h6.pre-line В этой секции отображаются все ваши карты и их состояние.

					section.sect.mb-lg
						h3.h3.w-100.mb-xs Новые карты
						p.text.h6.pre-line В этой секции вы можете добавить номера новых карт. <br><br>Для этого Вам нужно внести номера карт в поля (по одной карте в поле), нажать кнопку «Проверить» и если результат положительный, нажать кнопку «Зарегистрировать»
					
					.btn-wrap
						a.btn.btn-green.btn-outline.wm-xs.jq-togglePanel(href='#', data-action="close") Закрыть
				.baron__track
					.baron__control.baron__up ▲
					.baron__free
						.baron__bar
				.baron__control.baron__down ▼
