.page-content
	// Контейнер для стилизации скролла
	.baron.baron__root.baron__clipper._simple
		.baron__scroller
			// Your content here
			include ../../_share/_common/content-header
			main.main
				include ../_pages/index
		.baron__track
			.baron__control.baron__up ▲
			.baron__free
				.baron__bar
			.baron__control.baron__down ▼
