mixin navbar(user)
	.page-navbar
		.navbar
			.panel.panel-main
				// Контейнер для стилизации скролла
				.baron.baron__root.baron__clipper._simple
					.baron__scroller
						// Your content here
						if user === 'client'
							include ../../_client/_common/navbar
						else
							include ../../_partner/_common/navbar
						
					.baron__track
						.baron__control.baron__up ▲
						.baron__free
							.baron__bar
						.baron__control.baron__down ▼
			
			.panel.panel-toggle#panelLang
				.panel-head
					.title.h3.c-dark-grey Выбор языка
					a.hamburger.hamburger--spin.is-active.jq-togglePanel(href='#', data-action='close')
						span.hamburger-box
							span.hamburger-inner
				.panel-content
					// Контейнер для стилизации скролла
					.baron.baron__root.baron__clipper._simple
						.baron__scroller
							// Your content here
							ul.list.list-lang.h6
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-ru
										span.lang-name Русский
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-eng
										span.lang-name English
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-bulg
										span.lang-name български
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-greek
										span.lang-name ελληνικά
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-spain
										span.lang-name español
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-italy
										span.lang-name italiano
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-german
										span.lang-name Deutsch
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-poland
										span.lang-name polski
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-port
										span.lang-name Português
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-roman
										span.lang-name românesc
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-fra
										span.lang-name francais
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-chezh
										span.lang-name Česky
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-turk
										span.lang-name Türk
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-kazakh
										span.lang-name Қазақша
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-kyrgyz
										span.lang-name Кыргыз
								li
									a.link(href='#')
										span.link-icon
											i.lang-flag.flag-serbian
										span.lang-name Сербиан
						.baron__track
							.baron__control.baron__up ▲
							.baron__free
								.baron__bar
							.baron__control.baron__down ▼
