extends _layouts/home

block content
	- let mode = 'partner' // client
	include _share/_common/navbar
	include _share/_common/content
	include _share/_common/aside

	.page.page-partner.navbar-is-open
		+navbar(mode)
		+content(mode)
		+aside(mode)
