#jq-page-welcome.remove-this-wrapper-on-prod.is-active
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Новости
		.main-head-info
			.link-wrap
				a.link.h6(href='#jq-page-news') Все новости
	.news
		.news-grids.grids
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более
						| совершенном дизайне.
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news')
						| Встречайте продуктовые новинки от Vertera – Collagen +
						| Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news')
						| WRT Collection – фитоплеяда для понимающих важность заботы
						| о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит
						| Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый
						| состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera
						| Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то
						| сомневался.
	.banners.mt-xl
		.item(style="background-image: url('img/banners/banner-1.jpg');")
			.item-title.h3
				| Мы обновили 
				br
				| наш бренд!
			.item-subtitle.fz-sm Посмотрите нашу презентацию
			.item-controls
				a.btn.btn-main.btn-outline(href='#') Подробнее
		.item.c-white(style="background-image: url('img/banners/banner-2.jpg');")
			.item-title.h3
				| Новая продукция
				br
				| для вас!
			.item-subtitle.fz-sm Все новинки в нашем каталоге
			.item-controls
				a.btn.btn-white.btn-outline(href='#') В каталог
#jq-page-docs-products.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title.w-100
				h2.h2 Документы на продукцию
	.docs
		.docs-list.stroke-lines.mb-md
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат на Vertera Gel
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Документальное оформление поступления товаров
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат Вертера Форте Усиленная формула
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат Вертера гель Яблоко, Вишня, Чёрная смородина
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат на Vertera Gel
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Документальное оформление поступления товаров
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат Вертера Форте Усиленная формула
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
			.item
				.item-title
					a.link(href='#')
						span.link-icon.h2
							i.ic.ic-file
						span.link-text.h5 Сертификат Вертера гель Яблоко, Вишня, Чёрная смородина
				.item-controls
					a.btn.btn-green.btn-outline.h-sm(href='#') Скачать
#jq-page-docs.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Документы
	.tiles.tiles-lg.dark-theme.mt-sm.mb-sm
		a.tile(href="#")
			span.tile-icon.c-green.sz-lg
				i.ic.ic-science
			span.tile-info.ls
				span.tile-info-title.c-main.h5 Научная документация
				span.tile-info-subtitle.c-medium-grey.ttu.fz-xs 25 документов
		
		a.tile(href="#")
			span.tile-icon.c-green.sz-lg
				i.ic.ic-product
			span.tile-info.ls
				span.tile-info-title.c-main.h5 Документы на продукцию
				span.tile-info-subtitle.c-medium-grey.ttu.fz-xs 340 документов

		a.tile(href="#")
			span.tile-icon.c-green.sz-lg
				i.ic.ic-law
			span.tile-info.ls
				span.tile-info-title.c-main.h5 Документы для юрлиц
				span.tile-info-subtitle.c-medium-grey.ttu.fz-xs 144 документа
#jq-page-videos.remove-this-wrapper-on-prod
	.main-head.mb-md
		.main-head-title
			h2.h2 Видео
	.video
		.video-list.grids
			.item
				.item-preview(style="background-image: url('img/videos/image-8.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Тренинг Натальи Тарховой и Анатолия Хитрова
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-7.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Мастеркласс по приготовлению коктелей
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-6.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#')
							| Вебинар ведущего научного сотрудника члена академического уровня или даже что-то больше
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-5.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Академия РАН в области кардиологии и сосудологии
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-4.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Тренинг Натальи Тарховой и Анатолия Хитрова
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-3.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Мастеркласс по приготовлению коктелей
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-2.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#')
							| Вебинар ведущего научного сотрудника члена академического уровня или даже что-то больше
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-1.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Академия РАН в области кардиологии и сосудологии
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			// Duplicate
			.item
				.item-preview(style="background-image: url('img/videos/image-8.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Тренинг Натальи Тарховой и Анатолия Хитрова
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-7.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Мастеркласс по приготовлению коктелей
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-6.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#')
							| Вебинар ведущего научного сотрудника члена академического уровня или даже что-то больше
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-5.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Академия РАН в области кардиологии и сосудологии
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-4.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Тренинг Натальи Тарховой и Анатолия Хитрова
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-3.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Мастеркласс по приготовлению коктелей
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-2.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#')
							| Вебинар ведущего научного сотрудника члена академического уровня или даже что-то больше
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
			.item
				.item-preview(style="background-image: url('img/videos/image-1.png');")
					a.item-preview-play(href='#jq-page-video-alone')
						.play.sz-sm
							i.ic.ic-play
				.item-content
					.item-content-title.h5
						a.link.link-black.jq-dotsMore(href='#') Академия РАН в области кардиологии и сосудологии
					.item-content-date.c-medium-grey.fz-xs 04/04/2019
#jq-page-video-alone.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		a.link.link-main.link-back(href='#jq-page-videos')
			.link-icon
				i.ic.ic-angle-left
			span.link-text.h6.c-dark-grey Назад
	.video.video-alone
		.item
			.item-preview(style="background-image: url('img/videos/image-6.png');")
				a.item-preview-play(href='#jq-page-video-alone')
					.play.sz-lg
						i.ic.ic-play
			.item-content
				.item-content-title.h3
					a.link.link-black(href='#')
						| Вебинар ведущего научного сотрудника члена академии РАН в области кардиологии и сосудологии.
				.item-content-date.c-medium-grey.fz-xs 04/04/2019
#jq-page-attach.remove-this-wrapper-on-prod
	.attach-wrap
		.attach
			.attach-image
				img(src='img/marker-on-map.png', alt='Alt')
			.attach-content
				.title
					h1.h1.c-dark-grey
						| Прикрепление к пункту 
						br
						| выдачи товаров
				p.text.c-medium-grey
					| Чтобы забрать ваши товары, вам необходимо прикрепиться в одном из удобных для вас отдений компанииVertera
				.btn-wrap.mt-lg
					a.btn.btn-green.btn-outline.wm-sm(href='#') Начать
#jq-page-profile.remove-this-wrapper-on-prod
	.main-head.mb-md
		.main-head-title
			h2.h2 Личные данные
	.profile
		.profile-user
			.user
				.user-avatar
					.corner
						svg(version='1.1', width='200', height='200', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/user-photo.png')
				.user-info
					ul.list
						li.item
							span.item-name.fz-xs.c-medium-grey.ls.ttu ФИО
							span.item-text.h4.c-dark-grey.ls Куклачёва Маргарита Аристарховна
						li.item
							span.item-name.fz-xs.c-medium-grey.ls.ttu Дата рождения
							span.item-text.h4.c-dark-grey.ls 28 декабря 1991 года
						li.item
							span.item-name.fz-xs.c-medium-grey.ls.ttu Пол
							span.item-text.h4.c-dark-grey.ls Женский
						li.item
							span.item-name.fz-xs.c-medium-grey.ls.ttu Семейное положение
							span.item-text.h4.c-dark-grey.ls Замужем
						li.item
							span.item-name.fz-xs.c-medium-grey.ls.ttu Язык
							span.item-text.h4.c-dark-grey.ls Русский
					.btn-wrap.mt-lg
						a.btn.btn-green.btn-outline.wm-sm(href='#jq-page-edit-pass') Редактировать
#jq-page-settings.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Настройки
	section.sect.mt-xs
		.main-head.mb-sm.pt-xs
			h3.h3 Уведомления
		form.form(action='#', autocomplete='off')
			.form-custom.mt-sm.form-check
				input#defaultCheckProfile.form-check-input.form-custom-input(type='checkbox')
				label.form-check-label.form-custom-label.h6(for='defaultCheckProfile') Я хочу получать на эл. почту письма о новостях и акциях компании
			.form-custom.mt-sm.form-check
				input#defaultCheckProfile2.form-check-input.form-custom-input(type='checkbox')
				label.form-check-label.form-custom-label.h6(for='defaultCheckProfile2') Я хочу получать SMS сообщения о новостях и акциях компании
	section.sect.mt-md
		.main-head.mb-sm.pt-xs
			h3.h3 Редактировать пароль
		.profile
			.profile-edit.mt-sm
				form.form(action='#', autocomplete='off')
					.form-group
						label.form-group-label.w-100(for='oldPass') Старый пароль
						.input-group.w-100
							input#oldPass.form-control(type='password')
					.form-group
						label.form-group-label.w-100(for='newPass') Новый пароль
						.input-group.w-100
							input#newPass.form-control(type='password')
					.form-group
						label.form-group-label.w-100(for='renewPass') Повторите новый пароль
						.input-group.w-100
							input#renewPass.form-control(type='password')
					.form-btn.btn-wrap.mt-lg
						button.btn.btn-green.btn-outline.wm-md(type='submit') Сохранить
#jq-page-edit-mail.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title.w-100
				h2.h2 Редактировать почту
	.profile
		.profile-edit
			form.form(action='#', autocomplete='off')
				.form-group
					label.form-group-label.w-100(for='emailField') Электронная почта
					.input-group.w-100
						input#emailField.form-control(type='email')
				.form-group
					label.form-group-label.w-100(for='codeField') Подтверждение
					.input-group.w-100
						input#codeField.form-control(type='text', placeholder='Код из СМС')
				.form-custom.form-check
					input#defaultCheck1.form-check-input.form-custom-input(type='checkbox')
					label.form-check-label.form-custom-label.h6(for='defaultCheck1') Сделать основной почтой
				.form-btn.double-col
					button.btn.btn-green.btn-outline.wm-md(type='submit') Сохранить
					button.btn.btn-red.btn-outline.wm-md(type='button') Удалить
#jq-page-edit-tel.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title.w-100
				h2.h2 Редактировать номер
	.profile
		.profile-edit
			form.form(action='#', autocomplete='off')
				.form-group
					label.form-group-label.w-100(for='telField') Номер
					.input-group.input-group--append.w-100
						input#telField.form-control(type='tel', value='+7 (915) 488-55-65')
						.input-group-append
							.circle.sz-sm(style="background-image: url('img/phone-type.png');")
				.form-group
					label.form-group-label.w-100(for='commentField') Комментарий
					.input-group.w-100
						input#commentField.form-control(type='text', value='Основной номер')
				.form-group
					label.form-group-label.w-100(for='codeField2') Подтверждение
					.input-group.w-100
						input#codeField2.form-control(type='text', placeholder='Код из СМС')
				.form-custom.form-check
					input#defaultCheck2.form-check-input.form-custom-input(type='checkbox')
					label.form-check-label.form-custom-label.h6(for='defaultCheck2') Сделать основным номером
				.form-btn.double-col
					button.btn.btn-green.btn-outline.wm-md(type='submit') Сохранить
					button.btn.btn-red.btn-outline.wm-md(type='button') Удалить
#jq-page-news.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Новости
	.news
		.news-grids.grids
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
			// Duplicate
			.btn-more
				a.btn.btn-green.btn-outline.jq-viewMore(href='#', data-toggle-text='Скрыть все') Показать еще
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Скоро любимые продукты Vertera в новом стиле!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне.
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Встречайте продуктовые новинки от Vertera – Collagen + Vitamin С & HONDROFEROL!
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| С продуктовыми новинками от Vertera сохранить молодость и летящую походку возможно на долгие годы
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') WRT Collection – фитоплеяда для понимающих важность заботы о себе
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять Компанией Vertera разработаны современные пищевые добавки, богатый состав компонентов которых подарит Вам энергию, позволяя не сбавлять
			.item.is-hidden
				.item-date.fz-xs.c-medium-grey 04/04/2019
				.item-title
					a.link.h6(href='#jq-page-one-news') Оцени Vertera Sensation в light-формате
				.item-text.fz-sm.c-medium-grey
					p.jq-dotsMore
						| Сенсационная новинка этого лета от компании Vertera теперь в новом light-формате! Формула Vertera Sensation Light создана для тех, кто давно хотел попробовать Vertera Sensation, но почему-то сомневался.
#jq-page-msg.remove-this-wrapper-on-prod
	.main-head.mb-md
		a.link.link-main.link-go(href='#')
			.link-icon
				.circle.circle-outline.sz-md
					i.ic.ic-angle-left
			span.link-text.h6.c-dark-grey Назад
	.post
		.post-title.w-100
			h3.h3 Итоговый президенсткий вебинар с Анатолием Хитровым
		.post-date.c-medium-grey.fz-sm.w-100 Доставлено 14/04/2019
		.post-content.c-dark-grey
			p.text.pre-line
				| Приглашаем 9 апреля 2019 года в 11:00 МСК на «Итоговый президентский вебинар с Анатолием Хитровым!
				| Узнайте о планах на апрель первыми и смело двигайтесь вперед за новыми достижениями!
			.subtitle.w-100
				b В прямом эфире вас ждет:
			ul.list.list-dotted.green-theme
				li Подведение итогов марта
				li Новости холдинга «Мир Торговли»
				li Перспективы развития на апрель
				li Мотивация на действия
			p.text.pre-line
				| Подключайтесь! Вдохните волну позитива и заряд весеннего настроения от Первого лица компании!
				| Ссылка на вход: 
				a.link(href='#') https://vertera.market/en/promo/vertera_gel
			.btn-wrap.mt-lg
				a.btn.btn-green.btn-outline.w-lg(href='#') Перейти к следующему сообщению
#jq-page-one-news.remove-this-wrapper-on-prod
	.main-head.mb-md
		a.link.link-main.link-go(href='#')
			.link-icon
				.circle.circle-outline.sz-md
					i.ic.ic-angle-left
			span.link-text.h6.c-dark-grey Назад
	.post
		.post-title.w-100
			h3.h3 Скоро любимые продукты Vertera в новом стиле!
		.post-date.c-medium-grey.fz-sm.w-100 Опубликовано 27/04/2019
		.post-content.c-dark-grey
			p.text.pre-line
				| Весна — время перемен! Зима понемногу отступает, и скоро можно будет сменить теплую одежду на более легкую, а тяжелые мысли на более воздушные.
				| Мы тоже не стоим на месте и заряжаемся легким настроением. Перемены касаются не только нас, но и наших продуктов, так полюбившихся вам.
				| Рады сообщить вам, что уже совсем скоро наша продукция предстанет перед вами в новом, более совершенном дизайне. Обновленный фирменный стиль бренда Vertera воплощает в себе лаконичный минимализм, а современная и гармоничная цветовая палитра запомнится буквально с первого взгляда. И при этом мы не уходим от нашей основной философии, в основе которой все та же идея здорового образа жизни, следование традициям и ценностям.
				| Следуйте вместе с нами тенденциям обновления и оцените любимые продукты Vertera в новом стиле!
#jq-page-messages.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Сообщения
		.main-head-info
			.total
				span.fz-xs.c-medium-grey.ttu.ls всего 9 сообщений
	.message
		.message-list.stroke-lines
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-1.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Итоговый президенсткий вебинар с Анатолием Хитровым
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item.item-new
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-2.png')
				.item-title
					.item-title-status
						.circle.sz-xs.f-yellow
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Акция день единой закупки пролдивается!!!
				.item-status.fz-sm.c-dark-grey Получено
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item.item-new
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-3.png')
				.item-title
					.item-title-status
						.circle.sz-xs.f-yellow
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Акция день единой закупки для лидеров
				.item-status.fz-sm.c-dark-grey Получено
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-2.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Вебинар с Enjoy Home – первой платформой по кэшбэку в недвижимости
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-3.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Вебинар «Презентация маркетплейса Мир Торговли и пакетов франшизы
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-4.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Внимание! Возможны сбои в работе системы! Просьба всех сохранить свои заказы
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-3.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Вебинар «Презентация бонусной блокчейн-платформы»
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
			.item
				.item-preview
					svg(version='1.1', width='32', height='32', viewBox='0 0 200 200', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						image(x='0', y='0', width='200', height='200', clip-path='url(#cornerRadius)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/messages/preview-2.png')
				.item-title
					.item-title-text.h5.ls
						a.link(href='#jq-page-msg') Вебинар «Презентация компании Вертера»
				.item-status.fz-sm.c-dark-grey Прочитано
				.item-date.fz-xs.c-medium-grey.ls 14/04/2019
#jq-page-downtown.remove-this-wrapper-on-prod
	.main-head.mb-md
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters.align-items-center
			.main-head-title
				h2.h2 Пункт выдачи
			.main-head-info
				.btn-wrap
					a.link.h6.jq-togglePanel(href='#', data-panel='jq-points-filter', data-target='aside', data-action='open')
						span.link-text Фильтр
						span.link-icon
							i.ic.ic-filter.h3
	.table.stroke-lines
		table
			thead
				tr.fz-xs.ttu.ls.c-medium-grey
					th Пункты выдачи
					th Страна
					th Город
					th Адрес
					th Владелец
					th
			tbody.h6.c-dark-grey
				tr
					td 8000906
					td Россия
					td Москва
					td пр-т Ленина, 15, оф. 16
					td Малышева Т. Н.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Подписаться
				tr
					td 8000507
					td Казахстан
					td Усть-Каменогорск
					td ул. Кабанбай батыра, 97, оф. 18
					td Надервель К. А.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Подписаться
				tr
					td 8000211
					td Украина
					td Корсунь-Шевченковский
					td ул. Вячеслава Черновола, 53
					td Якубенко Т. Г.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Подписаться
				tr
					td 8000507
					td Россия
					td Хабаровск
					td ул. Надежды, 87
					td Ким Н. М.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Подписаться
#jq-page-contacts.remove-this-wrapper-on-prod
	.main-head.mb-lg.pt-xs
		.main-head-title
			h2.h2 Контакты
	.tabs.tabs-tile
		.tabs-nav
			ul
				li.is-active
					a.link(href='#tab-1')
						span.link-icon.h3
							i.ic.ic-map-marker
						span.link-text.h5 Адрес
				li
					a.link(href='#tab-2')
						span.link-icon.h3
							i.ic.ic-phone
						span.link-text.h5 Телефон
				li
					a.link(href='#tab-3')
						span.link-icon.h3
							i.ic.ic-sent
						span.link-text.h5 Электронная почта
		.tabs-content
			#tab-1.is-visible
				ul.list.list-double
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Индекс
						span.item-text.h4.c-dark-grey.ls 110111
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Область
						span.item-text.h4.c-dark-grey.ls Московская
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Район
						span.item-text.h4.c-dark-grey.ls Центральный
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Дом
						span.item-text.h4.c-dark-grey.ls 15
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Страна
						span.item-text.h4.c-dark-grey.ls Россия
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Город / Населенный пункт
						span.item-text.h4.c-dark-grey.ls Москва
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Улица
						span.item-text.h4.c-dark-grey.ls проспект Ленина
					li.item
						span.item-name.fz-xs.c-medium-grey.ls.ttu Квартира
						span.item-text.h4.c-dark-grey.ls 87
				.btn-wrap.mt-lg
					a.btn.btn-green.btn-outline.wm-sm(href='#') Редактировать
			#tab-2.is-hidden
				.tiles
					.tile
						.tile-image
							svg(version='1.1', width='64', height='64', viewBox='0 0 64 65', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
								image(x='0', y='0', width='64', height='65', clip-path='url(#cornerRadiusSmall)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/phone-type-2.png')
						.tile-info
							.tile-info-pretitle.fz-xs.w-100.ls.ttu.c-medium-grey Основной
							.tile-info-title.h4.w-100.ls.c-dark-grey +7 (916) 544-48-85
							.tile-info-subtitle.fz-sm.w-100.c-medium-grey.mt-xs Мобильный
					.tile
						.tile-image
							svg(version='1.1', width='64', height='64', viewBox='0 0 64 65', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
								image(x='0', y='0', width='64', height='65', clip-path='url(#cornerRadiusSmall)', style='image-rendering:optimizeQuality', preserveAspectRatio='none', xlink:href='img/phone-type.png')
						.tile-info
							.tile-info-pretitle.fz-xs.w-100.ls.ttu.c-medium-grey Дополнительный
							.tile-info-title.h4.w-100.ls.c-dark-grey +7 (915) 488-55-65
							.tile-info-subtitle.fz-sm.w-100.c-medium-grey.mt-xs Мобильный
						.tile-controls
							.control.h5
								a.link.link-medium-grey(href='#jq-page-edit-tel')
									span.link-icon
										i.ic.ic-settings
					.tile.tile-add
						.tile-image
							.corner.corner-outline.sz-md.c-green
								i.ic.ic-plus
						.tile-info
							a.tile-info-title.fz-sm.w-100.c-black(href='#') Добавить новый номер
			#tab-3.is-hidden
				.tiles
					.tile
						.tile-info
							.tile-info-pretitle.fz-xs.w-100.ls.ttu.c-medium-grey Основной
							.tile-info-title.h5.w-100.ls.c-dark-grey kuklachevam@yurom.ru
					.tile
						.tile-info
							.tile-info-pretitle.fz-xs.w-100.ls.ttu.c-medium-grey Дополнительный
							.tile-info-title.h5.w-100.ls.c-dark-grey kuklachevam@yandex.ru
						.tile-controls
							.control.h5
								a.link.link-medium-grey(href='#jq-page-edit-mail')
									span.link-icon
										i.ic.ic-settings
					.tile.tile-add
						.tile-image
							.corner.corner-outline.sz-md.c-green
								i.ic.ic-plus
						.tile-info
							a.tile-info-title.fz-sm.w-100.c-black(href='#') Добавить новую почту
#jq-page-point.remove-this-wrapper-on-prod
	.main-head.mb-lg.pt-xs
		.main-head-title
			h2.h2 Пункт выдачи
	.point.point-page
		.point-content
			ul.list.list-double
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Пункт выдачи
					span.item-text.h4.c-dark-grey.ls 8000906,
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Город / Населенный пункт
					span.item-text.h4.c-dark-grey.ls Москва
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Дом
					span.item-text.h4.c-dark-grey.ls 14
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu телефон
					span.item-text.h4.c-dark-grey.ls +7 (495) 558-66-22
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Страна
					span.item-text.h4.c-dark-grey.ls Россия
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Улица
					span.item-text.h4.c-dark-grey.ls проспект Ленина
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu офис
					span.item-text.h4.c-dark-grey.ls 16
				li.item
					span.item-name.fz-xs.c-medium-grey.ls.ttu Владелец
					span.item-text.h4.c-dark-grey.ls Малышева Т.Н.
			.btn-wrap.mt-lg
				a.btn.btn-green.btn-outline.wm-md(href='#') Изменить пункт выдачи
		.point-map
			.ymap.ymap-alone
#jq-page-contacts-points.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.main-head-title
			h2.h2 Контакты
	.tabs.tabs-inline
		.tabs-nav.h6
			ul
				li.is-active
					a.link.c-main(href='#tab-1') Официальные представительства
				li
					a.link.c-main(href='#tab-2') Региональные представительства
				li
					a.link.c-main(href='#tab-3') Пикап-центры
	nav.search.search-free
		form.form
			label.input-group.w-100.h4.ls
				input.form-control(type='text', placeholder='Поиск представительства…')
	.accordion
		.beefup
			.beefup__head
				h4.h4.ls.title Москва
				span.fz-xs.ls.ttu.c-medium-grey.fw-medium м. Добрынинская,ул. Коровий вал, 1А, стр. 1, 7 этаж, помещение XIX
			.beefup__body
				.point
					.point-content
						ul.list.h6
							li.item
								span.item-name.c-medium-grey Адрес
								span.item-text.c-dark-grey
									| ул. Карасунская, 108, Вход справа от магазина "Форменная одежда", Остановка Кооперативный рынок
							li.item
								span.item-name.c-medium-grey Телефон
								a.link.item-text(href='#') +7 918 073 97 92
							li.item
								span.item-name.c-medium-grey Эл. почта
								a.link.item-text(href='#') vertera.krasnodar@gmail.com
					.point-map
						.ymap.ymap-alone
		.beefup
			.beefup__head
				h4.h4.ls.title Санкт-Петербург
				span.fz-xs.ls.ttu.c-medium-grey.fw-medium Станция метро Горьковская, Мичуринская улица, 6
			.beefup__body
				.point
					.point-content
						ul.list.h6
							li.item
								span.item-name.c-medium-grey Адрес
								span.item-text.c-dark-grey
									| ул. Карасунская, 108, Вход справа от магазина "Форменная одежда", Остановка Кооперативный рынок
							li.item
								span.item-name.c-medium-grey Телефон
								a.link.item-text(href='#') +7 918 073 97 92
							li.item
								span.item-name.c-medium-grey Эл. почта
								a.link.item-text(href='#') vertera.krasnodar@gmail.com
					.point-map
						.ymap.ymap-alone
		.beefup
			.beefup__head
				h4.h4.ls.title Краснодар
				span.fz-xs.ls.ttu.c-medium-grey.fw-medium
					| ул. Карасунская, 108, Вход справа от магазина "Форменная одежда" Остановка Кооперативный рынок
			.beefup__body
				.point
					.point-content
						ul.list.h6
							li.item
								span.item-name.c-medium-grey Адрес
								span.item-text.c-dark-grey
									| ул. Карасунская, 108, Вход справа от магазина "Форменная одежда", Остановка Кооперативный рынок
							li.item
								span.item-name.c-medium-grey Телефон
								a.link.item-text(href='#') +7 918 073 97 92
							li.item
								span.item-name.c-medium-grey Эл. почта
								a.link.item-text(href='#') vertera.krasnodar@gmail.com
					.point-map
						.ymap.ymap-alone
		.beefup
			.beefup__head
				h4.h4.ls.title Южно-Сахалинск
				span.fz-xs.ls.ttu.c-medium-grey.fw-medium Курильская 38, БЦ "Квартал"
			.beefup__body
				.point
					.point-content
						ul.list.h6
							li.item
								span.item-name.c-medium-grey Адрес
								span.item-text.c-dark-grey
									| ул. Карасунская, 108, Вход справа от магазина "Форменная одежда", Остановка Кооперативный рынок
							li.item
								span.item-name.c-medium-grey Телефон
								a.link.item-text(href='#') +7 918 073 97 92
							li.item
								span.item-name.c-medium-grey Эл. почта
								a.link.item-text(href='#') vertera.krasnodar@gmail.com
					.point-map
						.ymap.ymap-alone
#jq-page-orders.remove-this-wrapper-on-prod
	.main-head.mb-md
		.main-head-title
			h2.h2 История заказов
		.main-head-info
			.btn-wrap
				a.link.h6.jq-togglePanel(href='#', data-panel='jq-orders-filter', data-target='aside', data-action='open')
					span.link-text Фильтр
					span.link-icon
						i.ic.ic-filter.h3
	.table.stroke-lines
		table
			thead
				tr.fz-xs.ttu.ls.c-medium-grey
					th Номер заказа
					th Дата создания
					th Адрес получения
					th Сумма
					th Статус
					th
			tbody.h6.c-dark-grey
				tr
					td 1516076
					td 24/04/19
					td Санкт-Петербург, пр-т Кости Константинольского, 15, оф. 16
					td 2 800 ₽
					td Новый
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Редактировать
				tr
					td 1516076
					td 24/04/19
					td Москва, ул. Кабанбай батыра, 97, оф. 18
					td 5 146 ₽
					td Выполнен
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Повторить заказ
				tr
					td 1516076
					td 24/04/19
					td Санкт-Петербург, пр-т Кости Константинольского, 15, оф. 16
					td 2 800 ₽
					td Новый
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Повторить заказ
				tr
					td 1516076
					td 24/04/19
					td Москва, ул. Кабанбай батыра, 97, оф. 18
					td 5 146 ₽
					td Выполнен
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Повторить заказ
				tr
					td 1516076
					td 24/04/19
					td Санкт-Петербург, пр-т Кости Константинольского, 15, оф. 16
					td 2 800 ₽
					td Новый
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Повторить заказ
				tr
					td 1516076
					td 24/04/19
					td Москва, ул. Кабанбай батыра, 97, оф. 18
					td 5 146 ₽
					td Выполнен
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md(href='#') Повторить заказ
#jq-page-add-address.remove-this-wrapper-on-prod
	.main-head.mb-md
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title
				h2.h2 Добавить новый адрес
	.point.point-page
		.point-content
			.point-content-wrap
				form.form.jq-formAddAddress(action='#', autocomplete='off', method='post')
					.group-wrap
						.form-group
							label.form-group-label.w-100(for='numberField') Пункт выдачи
							.input-group.w-100
								input#sg-numberField.form-control(type='text', name='pointName', value='255')
					.group-wrap
						.form-group
							label.form-group-label.w-100(for='countryField1') Страна
							.input-group.w-100
								select#countryField1.form-control.jq-select(name='country')
									option(value='Россия') Россия
									option(value='Россия 1') Россия 1
									option(value='Россия 2') Россия 2
									option(value='Россия 3') Россия 3
									option(value='Россия 4') Россия 4
									option(value='Россия 5') Россия 5
						.form-group
							label.form-group-label.w-100(for='countryField2') Город
							.input-group.w-100
								select#countryField2.form-control.jq-select(name='city')
									option(value='Москва') Москва
									option(value='Москва 1') Москва 1
									option(value='Москва 2') Москва 2
									option(value='Москва 3') Москва 3
									option(value='Москва 4') Москва 4
									option(value='Москва 5') Москва 5
					.group-wrap
						.form-group
							label.form-group-label.w-100(for='countryField3') Адрес
							.input-group.w-100
								input#countryField3.form-control(type='text', name='address', value='Никольская улица, 6/2с1')
						.form-group
							label.form-group-label.w-100(for='ownerField') Владелец
							.input-group.w-100
								input#ownerField.form-control(type='text', name='owner', value='Путин В.В.')
					.form-btn.offset-top.btn-wrap.double-col
						button.btn.btn-green.btn-outline.w-100(type='submit') Добавить
				small доп. адресс для проверки: Богоявленский переулок, 4А
				br
				| 										(введите этот адрес для проверки добавления метки. 
				b Удалить на продакшене
				| )
		.point-map
			.ymap.ymap-multi
#jq-page-newOrder.remove-this-wrapper-on-prod
	.main-head.mb-md
		.main-head-title
			h2.h2 Новый заказ
	form.form(action='#')
		.tiles.yellow-theme
			.form-custom.form-radio.tile
				input#defaultRadio3.form-radio-input.form-custom-input(type='radio')
				label.form-radio-label.form-custom-label(for='defaultRadio3')
					span.tile-icon
						i.ic.ic-wallet
					span.tile-info
						span.tile-info-title.h5.w-100.ls.c-dark-grey Обычный заказ
			.form-custom.form-radio.tile
				input#defaultRadio4.form-radio-input.form-custom-input(type='radio')
				label.form-radio-label.form-custom-label(for='defaultRadio4')
					span.tile-icon
						i.ic.ic-man
					span.tile-info
						span.tile-info-title.h5.w-100.ls.c-dark-grey «Бонус лояльности»
			.form-custom.form-radio.tile
				input#defaultRadio2.form-radio-input.form-custom-input(type='radio')
				label.form-radio-label.form-custom-label(for='defaultRadio2')
					span.tile-icon
						i.ic.ic-certificate
					span.tile-info
						span.tile-info-title.h5.w-100.ls.c-dark-grey Использовать сертификат
		.form-btn.offset-top.btn-wrap
			// <button type="submit" class="btn btn-green btn-outline wm-sm">Далее</button>
			a.btn.btn-green.btn-outline.wm-sm(href='#jq-page-choice-terms') Далее
#jq-page-choice-terms.remove-this-wrapper-on-prod
	.main-head.mb-md
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title
				h2.h2 Выбор условий заказа
			.main-head-info
				form.form.form-inline(action='#')
					.form-group.form-group-inline
						label.form-group-label(for='countryField4') Выбор валюты
						.input-group
							select#countryField4.form-control.jq-select
								option(value='₽') ₽
								option(value='₴') ₴
								option(value='$') $
	.table.stroke-lines
		table
			thead
				tr.fz-xs.ttu.ls.c-medium-grey
					th Пункты выдачи
					th Страна
					th Город
					th Адрес
					th Владелец
					th
			tbody.h6.c-dark-grey
				tr
					td 8000906
					td Россия
					td Москва
					td пр-т Ленина, 15, оф. 16
					td Малышева Т. Н.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md.jq-btnSelect(href='#') Выбрать
				tr
					td 8000507
					td Казахстан
					td Усть-Каменогорск
					td ул. Кабанбай батыра, 97, оф. 18
					td Надервель К. А.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md.jq-btnSelect(href='#') Выбрать
				tr
					td 8000211
					td Украина
					td Корсунь-Шевченковский
					td ул. Вячеслава Черновола, 53
					td Якубенко Т. Г.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md.jq-btnSelect(href='#') Выбрать
				tr
					td 8000507
					td Россия
					td Хабаровск
					td ул. Надежды, 87
					td Ким Н. М.
					td.t-right
						.btn-wrap
							a.btn.btn-green.btn-outline.w-md.jq-btnSelect(href='#') Выбрать
	.main-footer
		.btn-wrap
			a.btn.btn-green.btn-outline.wm-sm(href='#jq-page-choice-cart') Далее
		.link-wrap.ml-auto
			a.link.link-main.link-go(href='#jq-page-add-address')
				span.link-text.h6.c-dark-grey Добавить новый адрес
				span.link-icon
					span.corner.corner-outline.sz-sm.c-green
						i.ic.ic-plus
#jq-page-cart.remove-this-wrapper-on-prod
	.main-head.mb-md
		.main-head-title
			h2.h2 Корзина
	.cart
		.content-wrap
			.cart-list
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-1.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Vertera Gel в новой упаковке
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-2.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Collagen + Vitamin C
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-3.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Чай «Белояр» №10 Мочегонный
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='2', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-new.c-red.h5.ls 1 755 ₽
							.w-100
								.price-old.fz-sm 2 000 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				// DUPLICATE
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-3.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Чай «Белояр» №10 Мочегонный
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='2', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-new.c-red.h5.ls 1 755 ₽
							.w-100
								.price-old.fz-sm 2 000 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-1.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Vertera Gel в новой упаковке
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-2.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Collagen + Vitamin C
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-3.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Чай «Белояр» №10 Мочегонный
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='2', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-new.c-red.h5.ls 1 755 ₽
							.w-100
								.price-old.fz-sm 2 000 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-1.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Vertera Gel в новой упаковке
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-2.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Collagen + Vitamin C
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='1', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
				.card
					.card-photo
						a.link(href='#')
							img(src='img/products/product-3.png', alt='Alt')
					.card-info
						.card-info-title.h5
							a.link.link-main(href='#') Чай «Белояр» №10 Мочегонный
						.card-info-status.c-medium-grey.ttu.fz-xs Есть в наличии
					.card-count
						.counter.counter-default.sz-xs
							.counter-control.minus -
							.counter-field
								input.form-control(type='text', value='2', maxlength='2')
							.counter-control.plus +
					.card-price
						.price.price-column
							.price-new.c-red.h5.ls 1 755 ₽
							.w-100
								.price-old.fz-sm 2 000 ₽
							.price-partner.c-green.fz-sm.w-100 20 CVP
							.price-partner.c-red.fz-sm.w-100 20 BVP
					.card-controls
						.item.item-icon.jq-cartRemoveItem
							a.link(href='#')
								i.ic.ic-trash
		.navbar-wrap
			.jq-sticky
				.cart-navbar
					ul.list.list-report
						li.li
							span.li-name.fz-xs.ttu Товары (3)
							span.li-val.h6 5 421 ₽
						li.li
							span.li-name.fz-xs.ttu Доставка
							span.li-val.h6 Бесплатно
						li.li
							span.li-name.fz-xs.ttu Скидка на товар
							span.li-val.h6 275 ₽
						li.li
							span.li-name.fz-xs.ttu CVP
							span.li-val.h6 60
						li.li
							span.li-name.fz-xs.ttu BVP
							span.li-val.h6 60
					hr.divider
					ul.list.list-report
						li.li
							span.li-name.fz-sm Итого
							span.li-val.h4.ls 5 146 ₽
					.cart-navbar-accept
						button.btn.btn-green.w-100(type='submit') Оформить заказ
				.form-custom.form-check
					input#agree.form-check-input.form-custom-input(type='checkbox')
					label.form-check-label.form-custom-label.fz-sm(for='agree')
						| Нажимая кнопку «Оформить заказ» вы принимаете с нами соглашение об 
						a.link.link-green(href='#') использовании персональных данных
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
	| 							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt praesentium sint a nam illo officiis modi omnis assumenda, nemo voluptatem amet itaque est quia. Unde minus fugiat quidem est?
#jq-page-choice-cart.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-md
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title
				h2.h2 Выбор товара в корзину
	.catalog
		.catalog-head
			form.form(action='#')
				.form-group
					label.form-group-label.w-100(for='countryField5') Категория
					.input-group.w-100
						select#countryField5.form-control.jq-select
							option(value='Россия') Здоровье
							option(value='Россия 1') Россия 1
							option(value='Россия 2') Россия 2
							option(value='Россия 3') Россия 3
							option(value='Россия 4') Россия 4
							option(value='Россия 5') Россия 5
				.form-group
					label.form-group-label.w-100(for='countryField6') Назначение
					.input-group.w-100
						select#countryField6.form-control.jq-select
							option(value='Россия') Омоложение организма
							option(value='Россия 1') Россия 1
							option(value='Россия 2') Россия 2
							option(value='Россия 3') Россия 3
							option(value='Россия 4') Россия 4
							option(value='Россия 5') Россия 5
				.search
					.form-group
						label.form-group-label.w-100(for='catalogSearch') Поиск товара
						.input-group.w-100
							input#catalogSearch.form-control(type='text', placeholder='Что хотите найти…')
					.form-btn.btn-wrap
						button.btn.btn-green.btn-outline.w-lg(type='submit') Найти
		.catalog-list
			.products-list
				.card
					a.card-photo(href='#')
						img(src='img/products/product-1.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Gel в новой упаковке
				.card
					a.card-photo(href='#')
						img(src='img/products/product-2.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Collagen + Vitamin C
				.card
					a.card-photo(href='#')
						img(src='img/products/product-8.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Черная смородина»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-4.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 585 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Хондроферол
				.card
					a.card-photo(href='#')
						img(src='img/products/product-5.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Артропласт (Ламинария и фукус)
				.card
					a.card-photo(href='#')
						img(src='img/products/product-9.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Вишня»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-7.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Gel в новой упаковке
				.card
					a.card-photo(href='#')
						img(src='img/products/product-12.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Collagen + Vitamin C
				.card
					a.card-photo(href='#')
						img(src='img/products/product-10.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Черная смородина»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-3.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Вишня»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-11.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 585 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Хондроферол
				.card
					a.card-photo(href='#')
						img(src='img/products/product-6.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Артропласт  (Ламинария и фукус)
				// DUPLICATE
				.card
					a.card-photo(href='#')
						img(src='img/products/product-1.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Gel в новой упаковке
				.card
					a.card-photo(href='#')
						img(src='img/products/product-2.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Collagen + Vitamin C
				.card
					a.card-photo(href='#')
						img(src='img/products/product-8.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Черная смородина»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-4.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 585 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Хондроферол
				.card
					a.card-photo(href='#')
						img(src='img/products/product-5.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Артропласт (Ламинария и фукус)
				.card
					a.card-photo(href='#')
						img(src='img/products/product-9.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Вишня»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-7.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Gel в новой упаковке
				.card
					a.card-photo(href='#')
						img(src='img/products/product-12.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 286 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Collagen + Vitamin C
				.card
					a.card-photo(href='#')
						img(src='img/products/product-10.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 2 275 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Черная смородина»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-3.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Vertera Forte «Вишня»
				.card
					a.card-photo(href='#')
						img(src='img/products/product-11.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 585 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Хондроферол
				.card
					a.card-photo(href='#')
						img(src='img/products/product-6.png', alt='Alt')
					.card-cart
						a.btn.btn-green.w-100.jq-addToCart(href='#', data-toggle-text='В корзине') В корзину
					.card-price
						.price
							.price-main.ls 1 850 ₽
							.price-partner.c-green.fz-sm 20 CVP
							.price-partner.c-red.fz-sm 20 BVP
					.card-title.h6
						a.link.jq-dotsMore.link-main(href='#') Артропласт  (Ламинария и фукус)

include ../../_share/_partials/UI