#jq-page-ref-links.remove-this-wrapper-on-prod
	.main-head.mb-md.pt-xs
		.main-head-title
			h2.h2 Реферальные ссылки
	.tiles.tiles-lg.dark-theme
		.tile(data-clipboard-text="https://os.verteraorganic.com/reg/?ref=1919")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey Реферальная ссылка
				.tile-info-title.c-main.h6 https://os.verteraorganic.com/reg/?ref=1919
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!
		
		.tile(data-clipboard-text="http://selftest.vertera.org/1919")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey Реферальная ссылка на самодиагностику
				.tile-info-title.c-main.h6 http://selftest.vertera.org/1919
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!

		.tile(data-clipboard-text="https://os.verteraorganic.com/ref_cards.php")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey реферальная карта в кармане
				.tile-info-title.c-main.h6 https://os.verteraorganic.com/ref_cards.php
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!

#jq-page-ref-cards.remove-this-wrapper-on-prod
	.main-head.align-items-center.mb-md.pt-xs
		.main-head-title
			h2.h2 Рефералка в кармане
		.main-head-info.h6
			.link-wrap
				a.link.link-main(href="#")
					span.link-icon.h5: i.ic.ic-credit-card
					span.link-text Что такое Vcard?
			.link-wrap
				a.link.link-main.jq-togglePanel(href="#", data-panel="jq-panel-info", data-target="aside-info", data-action="open")
					span.link-icon.h5: i.ic.ic-tip
					span.link-text Как это работает

	section.sect.mt-xs
		.main-head.mb-sm
			.main-head-title
				h3.h3 Купленные карты
				span.circle.f-stroke.sz-md.h6.c-medium-grey 2
		.table.stroke-lines
			table
				thead
					tr.fz-xs.ttu.ls.c-medium-grey
						th номер заказа
						th Дата заказа
						th наименование Товара
						th Количество
						th
				tbody.h6.c-dark-grey.ff-default
					tr
						td 1504590
						td 01/05/2019
						td 0632 – Пластиковая карта «Рефералка в кармане»
						td 8
						td.t-right
							.btn-wrap
								a.btn.btn-red.btn-outline.wm-xs(href='#') Отказаться
					tr
						td 1504590
						td 01/05/2019
						td 0632 – Пластиковая карта «Рефералка в кармане»
						td 8
						td.t-right
							.btn-wrap
								a.btn.btn-yellow.wm-xs(href='#')
									span.btn-icon.fz-sm: ic.ic.ic-done
									span.btn-text Выполнен

	section.sect.mt-lg
		.main-head.mb-sm
			.main-head-title
				h3.h3 Мои карты
				span.circle.f-stroke.sz-md.h6.c-medium-grey 1
		.table.stroke-lines
			table
				thead
					tr.fz-xs.ttu.ls.c-medium-grey
						th номер карты
						th Дата привязки
						th Фио партнера
						th Дата регистрации
						th
				tbody.h6.c-dark-grey.ff-default
					tr
						td 309 666 153 42
						td 01/05/2019
						td Константинопольский Констанин В.
						td 11/06/2019
						td.t-right
							.btn-wrap
								a.btn.btn-green.btn-outline.wm-xs(href='#') Подарить
	
	section.sect.mt-lg
		.main-head.align-items-center.mb-sm
			.main-head-title
				h3.h3 Новые карты
				span.circle.f-stroke.sz-md.h6.c-medium-grey 0
			.main-head-info.h6.c-dark-grey.ff-default
				.item Я подарил: 0
				.item Мне подарили: 0
		.container
			.row
				.col-5
					form.form.d-inline-flex.jq-checkRefCard(action='#', autocomplete='off')
						.form-group.flex-2
							.input-group.input-group--append.w-100
								input.form-control(type='text')
								.input-group-append
						.form-btn.btn-wrap
							button.btn.btn-green.btn-outline.w-sm(type='submit') Проверить
					.btn-wrap.mt-sm
						a.btn.btn-green.btn-outline.wm-sm(href='#') Зарегистрировать

#jq-page-transactions-control.remove-this-wrapper-on-prod.is-active
	.main-head.mb-md.pt-xs
		.main-head-title
			h2.h2 Управление счетами

	table.table.stroke-lines.datatables.jq-datatables
		thead
			tr.fz-xs.ttu.ls.c-medium-grey
				th номер
				th Назавание
				th Тип
				th Владелец
				th(data-class-name="t-right") Остаток
				th(data-class-name="t-right") Дебет
				th(data-class-name="t-right") Кредит
				th(data-class-name="t-right") Валюта
				th(data-class-name="col-btn t-right")
		tbody.h6.c-dark-grey.ff-default
			tr
				td 50278
				td Основной счет
				td Бонусный
				td Малышева Т. Н.
				td 13 000,34
				td 0,00
				td 24 000,50
				td ₽ (руб)
				td 
					.btn-wrap
						.btn.wm-xs.c-dark-grey Основной
			tr
				td 71999
				td Кредитный счет «Вертера Банк»
				td Бонусный
				td Надервель К. А.
				td 768,28
				td 700,28
				td 68,00
				td $ (usd)
				td
					.btn-wrap
						a.btn.btn-green.btn-outline.wm-xs.jq-btnSelect(href='#') Сделать основным
	.main-footer
		.link-wrap
			a.link.link-main.link-go(href='#jq-page-create-transaction')
				span.link-icon
					span.corner.corner-outline.sz-sm.c-green
						i.ic.ic-plus
				span.link-text.h6.c-dark-grey Создать новый счет
		.btn-wrap.ml-auto
			a.btn.btn-green.btn-outline.wm-md(href='#jq-page-transactions-operations') Просмотр операций по счетам

// Внутренние
#jq-page-transactions-operations.remove-this-wrapper-on-prod
	.main-head.mb-md.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-lg
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters.align-items-center
			.main-head-title
				h2.h2 Операции по счетам
			.main-head-info
				.btn-wrap
					a.link.h6.jq-togglePanel(href='#', data-panel='jq-transactions-filter', data-target='aside', data-action='open')
						span.link-text Фильтр
						span.link-icon
							i.ic.ic-filter.h3
	table#refCardsTable.table.stroke-lines.datatables
		thead
			tr.fz-xs.ttu.ls.c-medium-grey
				th номер
				th Дата
				th Тип
				th(data-class-name="t-right") Со счета
				th(data-class-name="t-right") На счет
				th(data-class-name="t-right") Сумма
				th(data-class-name="t-right") Валюта
				th
		tbody.h6.c-dark-grey.ff-default

#jq-page-create-transaction.remove-this-wrapper-on-prod
	.main-head.mb-sm.pt-xs
		.row.no-gutters
			a.link.link-main.link-go(href='#')
				.link-icon
					.circle.circle-outline.sz-lg
						i.ic.ic-angle-left
				span.link-text.h6.c-dark-grey Назад
		.row.no-gutters
			.main-head-title.w-100
				h2.h2 Создать новый счет
	.profile
		.profile-edit
			form.form(action='#', autocomplete='off')
				.form-group
					label.form-group-label.w-100(for='nameTransaction') название счета
					.input-group.w-100
						input#nameTransaction.form-control(type='text')
				.form-group
					label.form-group-label.w-100(for='typeTransaction') Тип счета
					.input-group.w-100
						select#typeTransaction.form-control.jq-select
							option(value='Основной') Основной
							option(value='Россия 1') Россия 1
							option(value='Россия 2') Россия 2
							option(value='Россия 3') Россия 3
							option(value='Россия 4') Россия 4
							option(value='Россия 5') Россия 5
				.form-group
					label.form-group-label.w-100(for='currTransaction') Выберите вылюту
					.input-group.w-100
						select#currTransaction.form-control.jq-select
							option(value='₽ (Рублевый)') ₽ (Рублевый)
							option(value='Россия 1') Россия 1
							option(value='Россия 2') Россия 2
							option(value='Россия 3') Россия 3
							option(value='Россия 4') Россия 4
							option(value='Россия 5') Россия 5
				.form-btn.double-col.mt-lg
					button.btn.btn-green.btn-outline.wm-md(type='submit') Создать
					button.btn.btn-red.btn-outline.wm-md(type='button') Отмена

include ../../_share/_partials/UI
