#jq-page-ref-links.remove-this-wrapper-on-prod.is-active
	.main-head.mb-md.pt-xs
		.main-head-title
			h2.h2 Реферальные ссылки
	.tiles.tiles-lg.dark-theme
		.tile(data-clipboard-text="https://os.verteraorganic.com/reg/?ref=1919")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey Реферальная ссылка
				.tile-info-title.c-main.h6 https://os.verteraorganic.com/reg/?ref=1919
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!
		
		.tile(data-clipboard-text="http://selftest.vertera.org/1919")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey Реферальная ссылка на самодиагностику
				.tile-info-title.c-main.h6 http://selftest.vertera.org/1919
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!

		.tile(data-clipboard-text="https://os.verteraorganic.com/ref_cards.php")
			.tile-icon.c-main.sz-sm
				i.ic.ic-link
			.tile-info
				.tile-info-pretitle.ttu.ls.fz-xs.c-medium-grey реферальная карта в кармане
				.tile-info-title.c-main.h6 https://os.verteraorganic.com/ref_cards.php
			.tile-tip.c-medium-grey.fz-sm Скопировано в буфер!






include ../../_share/_partials/UI
