.docs
	&-list
		.item
			display: flex
			align-items: center
			width: 100%
			&-title
				flex: 2
				letter-spacing: 0.2px
				.link
					&-icon, &-text
						vertical-align: middle
					&-icon
						line-height: 0
						text-align: center
						margin-right: 12px
			&-controls
				display: flex
				align-items: center
				flex-wrap: wrap
				margin-left: auto
				.btn
					padding: 0 19px