.table
	width: 100%
	table
		width: 100%
		thead, tbody
			th, td
				vertical-align: middle
		thead tr th
			padding-bottom: 8px
		tbody
			font-family: "Ptrootui", sans-serif
			font-weight: normal
			.btn-wrap .btn
				min-width: 152px
				padding: 0 15px
